body {
    background-color: #2e2e2e;
  }
  
  #container {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    display: flex;
  }
  
  #pole {
    width: 10px;
    height: 500px;
    border-radius: 50px;
    background-color: rgb(70, 70, 70);
    box-shadow: -5px 0 3px inset rgba(255, 255, 255, 0.3);
  }
  
  #flag {
    display: flex;
    position: relative;
  }
  
  .flag-unit {
    width: 10px;
    height: 10px;
    background: #f70404;
    animation: vertical 1s infinite;
    box-shadow: 5px 15px 10px rgba(255, 255, 255, 0.1);
  }
  
  #star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #ff0;
    clip-path: polygon(
      50% 0%, 
      61% 35%, 
      98% 35%, 
      68% 57%, 
      79% 91%, 
      50% 70%, 
      21% 91%, 
      32% 57%, 
      2% 35%, 
      39% 35%
    );
    transform: translate(-50%, -50%);
  }
  
  @keyframes vertical {
    0%, 100% {
      transform: translate(0, 0);
    }
  
    25% {
      transform: translate(calc(var(--displacement)*-2), calc(var(--displacement)*-1));
    }
  
    75% {
      transform: translate(calc(var(--displacement)*2), calc(var(--displacement)*4));
    }
  }
  
  @keyframes sway {
    0%, 100% {
      transform: rotate(-5deg);
    }
  
    50% {
      transform: rotate(-3deg);
    }
  }
  
  footer {
    position: fixed;
    right: 1em;
    bottom: 1em;
    color: white;
  }
  
  footer a {
    color: white;
  }
  